# gradle
.gradle/
build/
out/
classes/

# eclipse
eclipse
run
runs
run-data

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# OS
.DS_Store
Thumbs.db
*.DS_Store
*.log

repo
/.claude
CLAUDE.md
/logs
.narrafork/
/docs
/.codex
/.gradle-user-home
AGENTS.md
